body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333333;
}

input {
    padding: 10px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
button {
    padding: 10px;
    margin-left: 10px;
    border: none;
    background: #00B5E2;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.button-action{
    padding: 3px;
}

button:hover{
    background: #015371;
}