* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  line-height: 1.6;
  letter-spacing: 1px;
  word-spacing: 1px;
}

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

html{
  font-family:'Times New Roman', Times, serif;
  font-size: 10px;
}

h1{
  font-size: 3rem;
  text-align: center;
}

h2{
  font-size: 2rem;
}

h1, h2{
  letter-spacing: 2px;
}

h2 + p{
  text-indent: 20px;
}

a{
  text-decoration: underline;
  color: #a66;
}

a:hover, a:focus{
  text-decoration: none;
}